<header>
    <div class="header">
      <!--<a href="#default" class="logo">CompanyLogo</a>  -->
      <!-- <a href="/"><img src="/assets/images/logopis2.jpg" alt="test task home page" style="width:42px;height:42px;"></a> -->
      <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="tasks/search.ejs">Search</a>
        <a href="/admin">Admin</a>
        <a href="/acp/book">Book</a>
        <a href="/acp/author">Author</a>
        <a href="/acp/genre">Genre</a>
      </div>
    </div>
    <!--section text-->
<div class="image-container">
<div class="text">MYTASKS</div>
</div>
  </header>